.detail {
  /* display: none; */
  min-width: 380px;
  height: calc(100vh - 50px);
  position: relative;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.detail.on {
  display: block;
}

.detail .container {
  padding: 10px 20px 0 20px;
}

.detail .container label {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail .container label .title {
  width: 100%;
}
