.detail {
  display: block;
  min-width: 380px;
  height: calc(100vh - 50px);
  position: relative;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.detail.off {
  display: none;
}

.detail .container {
  padding: 20px;
  position: relative;
}

.detail .container > div {
  margin-bottom: 10px;
}

.detail .container label {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.detail label .title {
  width: 100%;
}

.detail .links {
  position: fixed;
  bottom: 0;
  min-width: 340px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #797775;
  color: #797775;
}

.detail .links span {
  font-size: 15px;
}
.detail .links span:nth-child(2) {
  font-size: 12px;
}
