.today {
  width: 100%;
  padding: 30px 20px 0 20px;
}

.main_title {
  display: flex;
}

.main_title a {
  margin-right: 10px;
}

.main_title h3 {
  margin-right: 20px;
}

.wb_sunny {
  pointer-events: none;
}

.today .date {
  color: #aaa;
  font-size: 12px;
}
