.header {
  background-color: #119;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-style: bold;
}
.logo a {
  margin-right: 20px;
}

.logo span {
  font-size: 25px;
  color: #fff;
}

.header_search input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  font-size: 24px;
  border: none;
  padding-left: 5px;
}

.header_etc span {
  padding-left: 10px;
  width: 30px;
  color: #fff;
}
